* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  padding: 12px;
}
.section_1 {
  padding: 12px;
  border: 1px solid;
}
h1 {
  margin-bottom: 22px;
  text-decoration: underline;
}
.section_1 p {
  margin-bottom: 22px;
}
.read_more {
  text-decoration: none;
}
.dog_conatiner {
  margin-bottom: 12px;
}
.section_2 {
  margin-top: 12px;
}
.section_2 img {
  width: 300px;
}
.section_3 {
  margin-top: 12px;
}
.list_container {
  padding: 0px 18px;
}
